<ion-header>
  <ion-toolbar>
    <ion-title>Froget Password</ion-title>
    <ion-icon name="close" (click)="close()" slot="end" class="btn-close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" class="input" style="margin-top: 50px;">
    <ion-label color="primary" position="stacked">Email</ion-label>
    <ion-input color="primary" placeholder="Enter your email" [(ngModel)]="email"></ion-input>
    <ion-icon name="mail" color="primary" slot="end" style="align-self: center;"></ion-icon>
  </ion-item>

  <ion-text style="font-size: xx-small; font-style: italic; margin-left: 30px;">
    Enter your e-mail and we will send you a link to reset it
  </ion-text>
  <br><br>

  <ion-button (click)="sendMail()" fill="outline">Next</ion-button>

</ion-content>