<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="input" style="margin-top: 50px">
    <ion-label color="primary" position="stacked">Phone Number</ion-label>
    <ion-input
      color="primary"
      placeholder="Enter your phone number"
      [(ngModel)]="phoneNumber"
      type="number"
      >+60&nbsp;&nbsp;&nbsp;</ion-input
    >
    <ion-icon
      name="call"
      color="primary"
      slot="end"
      style="align-self: center"
    ></ion-icon>
  </ion-item>

  <ion-text style="font-size: xx-small; font-style: italic; margin-left: 30px">
    * without hyphen (-)
  </ion-text>
  <br /><br />

  <ion-button (click)="requestOTP()" fill="outline">Request OTP</ion-button>

  <ion-item
    lines="none"
    class="input"
    style="margin-top: 20px"
    *ngIf="otpRequested"
  >
    <ion-label color="primary" position="stacked"
      >One-Time Passcode (OTP)</ion-label
    >
    <ion-input
      color="primary"
      placeholder="Enter OTP"
      [(ngModel)]="otp"
    ></ion-input>
  </ion-item>

  <ion-button (click)="login()" fill="outline" *ngIf="otpRequested"
    >Login</ion-button
  >

  <div id="sign-in-button"></div>
</ion-content>
